@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Ribeye+Marrow|Wellfleet&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarabun:100,200,300,400,500,600,700,800&display=swap');

* {
  font-family: 'Sarabun', sans-serif;
  font-weight: 500;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  z-index: -1;
}

.nav-link {
  font-family: 'Sarabun', sans-serif;
  font-size: 1.5rem;
}

.ltp-logo {
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 3rem;
  -webkit-text-stroke: .5px;
  transition: .1s ease-in-out color;
}

.ltp-logo:hover {
  color: black;
}

section {
  height: 100vh;
  background-color: #f8f8f8;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

section > h1 {
  font-family: "Sarabun", sans-serif;
  -webkit-text-stroke: 1px #333;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 5rem;
  padding-top: 3rem;
  margin-left: 4rem;
  margin-right: 4rem;
  border-bottom: 0.5rem solid #333;
}

section > h2 {
  font-family: "Sarabun", sans-serif;
  margin-top: 0.5rem;
  font-size: 1.6rem;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

/* Card flip code is from https://www.w3schools.com/howto/howto_css_flip_card.asp */
/* The flip card container - set the width and height to whatever you want.*/
.flip-card {
  background-color: transparent;
  width: 18rem;
  height: 24rem;
  perspective: 1000px;
  margin: 2rem;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 5px 5px 15px rgba(0,0,0,.7);
}

/* Style the front side */
.flip-card-front {
  background-color: #f8f8f8;
  color: #333;
}

/* Style the back side */
.flip-card-back {
  background-color: #f8f8f8;
  color: #333;
  transform: rotateY(180deg);
}
