@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Ribeye+Marrow|Wellfleet&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarabun:100,200,300,400,500,600,700,800&display=swap');

* {
  font-family: 'Sarabun', sans-serif;
  font-weight: 500;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  z-index: -1;
}

.nav-link {
  font-family: 'Sarabun', sans-serif;
  font-size: 1.5rem;
}

.ltp-logo {
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 3rem;
  -webkit-text-stroke: .5px;
  transition: .1s ease-in-out color;
}

.ltp-logo:hover {
  color: black;
}
